extends layout

block content
    #about-container.container.page-container
        h1 About
        .row
            .col-sm-6
                img.img-thumbnail(src='/img/me.jpg', alt='Brandon Tindle Developer Designer')
            .col-sm-6
                p
                    | Clean, simple and scalable are the hallmarks of my work. Maintaining clean, simple and scalable code allows me to build stable, sustainable applications.
                p
                    | I am a FULL STACK developer & designer with over eight years of experience building and designing websites, databases, servers, and mobile applications. I have a BFA from The Boston Conservatory. Unsatisfied with the quality of applications built for the theater world, I took matters into my own hands and delved head first into Mobile and Web Design and Development.
                p
                    | In 2013, I was awarded the position of Software Project Manager at the prestigious New York Vocal Coaching where I accumulated over 2,000 hours building and designing websites, mobile applications, logo design and branding, and graphics design.
                p
                    | In 2017, I was hired by the world renowned Massachusetts Institue of Technology (MIT) to design and build a range of websites and scientific components for its DAI-Lab.
                p
                    | This all speaks to my abilities to quickly learn and properly execute new methods and ideas.
                ul.list-unstyled.mt-4
                    | Contact
                    hr.my-1
                    li
                        a.text-black.hover-red(href='mailto:reimagin8d@reimagin8d.com?subject=Contact%20Inquiry') Email
                    li
                        a.text-black.hover-red(href='https://www.upwork.com/o/profiles/users/_~013867cd1e9a262919/', target='_blank') Upwork
                    li
                        a.text-black.hover-red(href='https://www.linkedin.com/in/brandon-tindle', target='_blank') LinkedIn

