<!DOCTYPE html(lang='en')>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <title> | Snippets</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link rel="stylesheet" href="/stylesheets/main.css"/>
  <link rel="canonical"/>
  <style>
    body {
        background-color: ;
    }
    
  </style>
  <body class="mb-4">
    <!-- load navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark back-black fixed-top" role="navigation">
      <div class="container"><a class="navbar-brand" id="nav-home" href="/">Snippets</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-collapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="nav-collapse">
          <div class="navbar-nav ml-auto"><a class="nav-item nav-link" id="nav-details" href="details">Details</a><a class="nav-item nav-link" id="nav-about" href="about">About</a><a class="nav-item nav-link" href="login">Login</a><a class="nav-item nav-link" href="register">Register</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- content block-->
    <div class="container page-container text-center">
      <div class="btn-group btn-group-toggle mx-auto" data-toggle="buttons">
        <label class="btn btn-primary btn-brblue active">Creation
          <input id="conversion-btn" type="radio" name="options" data-type="conversion" autocomplete="off" checked="checked"/>
        </label>
        <label class="btn btn-primary btn-brblue" id="migration-btn">Migration
          <input id="migration" type="radio" name="options" data-type="migration" autocomplete="off"/>
        </label>
      </div>
    </div>
    <div class="container mt-4" id="creation-container">
      <h4 class="lead text-white text-center my-5">Create code snippets formatted for your code editor!</h4>
      <hr/>
      <form class="row" id="code-form" action="/save-snippet" method="POST">
        <div class="col-sm">
          <!-- Allow user to select From text editor-->
          <div class="form-group">
            <label class="text-white" for="code_editor">Editor</label>
            <select class="form-control custom-select" id="code-editor" name="code_editor" required="">
              <option value=""></option>
              <option value="atom">Atom</option>
              <option value="brackets">Brackets</option>
              <option value="sublime" selected="">Sublime Text</option>
              <option value="visual_code">Visual Studio Code</option>
            </select>
          </div>
          <!-- List of scopes to apply to snippet-->
          <div class="form-group scope-select">
            <label class="text-white" for="code_scope">Scope/Source</label>
            <select class="form-control custom-select" id="code-scope" name="code_scope" required="">
              <option value=""></option>
              <option value="source.actionscript.2">ActionScript: source.actionscript.2</option>
              <option value="source.applescript">AppleScript: source.applescript</option>
              <option value="source.asp">ASP: source.asp</option>
              <option value="source.dosbatch">Batch FIle: source.dosbatch</option>
              <option value="source.cs">C#: source.cs</option>
              <option value="source.c++">C++: source.c++</option>
              <option value="source.clojure">Clojure: source.clojure</option>
              <option value="source.coffee">CoffeeScript: source.coffee</option>
              <option value="source.css">CSS: source.css</option>
              <option value="source.d">D: source.d</option>
              <option value="source.diff">Diff: source.diff</option>
              <option value="source.erlang">Erlang: source.erlang</option>
              <option value="source.go">Go: source.go</option>
              <option value="source.dot">GraphViz: source.dot</option>
              <option value="source.groovy">Groovy: source.groovy</option>
              <option value="source.haskell">Haskell: source.haskell</option>
              <option value="text.html">HTML: text.html</option>
              <option value="text.html.jsp">JSP: text.html.jsp</option>
              <option value="source.java">Java: source.java</option>
              <option value="source.java-props">Java Properties: source.java-props</option>
              <option value="text.html.javadoc">Java Doc: text.html.javadoc</option>
              <option value="source.json">JSON: source.json</option>
              <option value="source.js" selected="">Javascript: source.js</option>
              <option value="source.bibtex">BibTex: source.bibtex</option>
              <option value="text.log.latex">Latex Log: text.log.latex</option>
              <option value="text.tex.latex.memoir">Latex Memoir: text.tex.latex.memoir</option>
              <option value="text.tex.latex">Latex: text.tex.latex</option>
              <option value="source.css.less">LESS: source.css.less</option>
              <option value="text.tex">TeX: text.tex</option>
              <option value="source.lisp">Lisp: source.lisp</option>
              <option value="source.lua">Lua: source.lua</option>
              <option value="source.makefile">MakeFile: source.makefile</option>
              <option value="text.html.markdown">Markdown: text.html.markdown</option>
              <option value="text.html.markdown.multimarkdown">Multi Markdown: text.html.markdown.multimarkdown</option>
              <option value="source.matlab">Matlab: source.matlab</option>
              <option value="source.objc">Objective-C: source.objc</option>
              <option value="source.objc++">Objective-C++: source.objc++</option>
              <option value="source.camlp4.ocaml">OCaml campl4: source.camlp4.ocaml</option>
              <option value="source.ocaml">OCaml: source.ocaml</option>
              <option value="source.ocamllex">OCamllex: source.ocamllex</option>
              <option value="source.perl">Perl: source.perl</option>
              <option value="source.php">PHP: source.php</option>
              <option value="source.regexp.python">Regular Expression(python): source.regexp.python</option>
              <option value="source.python">Python: source.python</option>
              <option value="source.r-console">R Console: source.r-console</option>
              <option value="source.r">R: source.r</option>
              <option value="source.ruby.rails">Ruby on Rails: source.ruby.rails</option>
              <option value="text.haml">Ruby HAML: text.haml</option>
              <option value="source.sql.ruby">SQL(Ruby): source.sql.ruby</option>
              <option value="source.regexp">Regular Expression: source.regexp</option>
              <option value="text.restructuredtext">RestructuredText: text.restructuredtext</option>
              <option value="source.ruby">Ruby: source.ruby</option>
              <option value="source.sass">SASS: source.sass</option>
              <option value="source.scala">Scala: source.scala</option>
              <option value="source.shell">Shell Script: source.shell</option>
              <option value="source.sql">SQL: source.sql</option>
              <option value="source.stylus">Stylus: source.stylus</option>
              <option value="source.tcl">TCL: source.tcl</option>
              <option value="text.html.tcl">HTML(TCL): text.html.tcl</option>
              <option value="text.plain">Plain text: text.plain</option>
              <option value="text.html.textile">Textile: text.html.textile</option>
              <option value="text.xml">XML: text.xml</option>
              <option value="text.xml.xsl">XSL: text.xml.xsl</option>
              <option value="source.yaml">YAML: source.yaml</option>
            </select>
          </div>
          <div class="form-group">
            <label class="text-white" for="code_description">Description</label>
            <textarea class="text-yellow" id="code-description" name="code_description" rows="2" required=""></textarea>
          </div>
          <div class="form-group">
            <label class="text-white" for="code_trigger">Trigger <em>(a keyword to trigger the snippet)</em></label>
            <input class="text-yellow custom-input" id="code-trigger" type="text" name="code_trigger" required=""/>
          </div>
          <!-- Allow user to select To text editor-->
          <div class="form-group" id="code-content-fg">
            <label class="text-white" for="code_content">Code</label>
            <textarea class="text-yellow" id="code-content" name="code_content" rows="5" required=""></textarea>
          </div>
        </div>
        <div class="col-sm">
          <!-- Allow user to select To text editor-->
          <div class="form-group">
            <label class="title text-green" for="snippet_output">snippet</label>
            <textarea class="text-green" id="snippet-output" name="snippet_output" rows="20"></textarea>
          </div>
        </div>
        <div class="col-sm-12">
          <!-- Submit button-->
          <button class="btn btn-success btn-block" type="submit">Convert</button>
        </div>
      </form>
    </div>
    <!-- MIGRATION CONTAINER-->
    <div class="container mt-4r" id="migration-container">
      <h4 class="lead text-white text-center my-5">Migrate code snippets from your old code editor to your new code editor!</h4>
      <hr/>
      <form class="row" id="converter-form">
        <div class="col-sm">
          <!-- Allow user to select From text editor-->
          <div class="form-group">
            <label class="title text-green" for="convert_from">from</label>
            <select class="form-control custom-select" id="convert-from" name="convert_from" required="">
              <option value=""></option>
              <option value="atom">Atom</option>
              <option value="brackets">Brackets</option>
              <option value="sublime" selected="">Sublime Text</option>
              <option value="visual_code">Visual Studio Code</option>
            </select>
          </div>
          <!-- List of scopes to apply to snippet-->
          <div class="form-group scope-select">
            <label class="text-white" for="scope_from">Scope/Source</label>
            <select class="form-control custom-select" name="scope_from">
              <option value=""></option>
              <option value="source.actionscript.2">ActionScript: source.actionscript.2</option>
              <option value="source.applescript">AppleScript: source.applescript</option>
              <option value="source.asp">ASP: source.asp</option>
              <option value="source.dosbatch">Batch FIle: source.dosbatch</option>
              <option value="source.cs">C#: source.cs</option>
              <option value="source.c++">C++: source.c++</option>
              <option value="source.clojure">Clojure: source.clojure</option>
              <option value="source.coffee">CoffeeScript: source.coffee</option>
              <option value="source.css">CSS: source.css</option>
              <option value="source.d">D: source.d</option>
              <option value="source.diff">Diff: source.diff</option>
              <option value="source.erlang">Erlang: source.erlang</option>
              <option value="source.go">Go: source.go</option>
              <option value="source.dot">GraphViz: source.dot</option>
              <option value="source.groovy">Groovy: source.groovy</option>
              <option value="source.haskell">Haskell: source.haskell</option>
              <option value="text.html">HTML: text.html</option>
              <option value="text.html.jsp">JSP: text.html.jsp</option>
              <option value="source.java">Java: source.java</option>
              <option value="source.java-props">Java Properties: source.java-props</option>
              <option value="text.html.javadoc">Java Doc: text.html.javadoc</option>
              <option value="source.json">JSON: source.json</option>
              <option value="source.js">Javascript: source.js</option>
              <option value="source.bibtex">BibTex: source.bibtex</option>
              <option value="text.log.latex">Latex Log: text.log.latex</option>
              <option value="text.tex.latex.memoir">Latex Memoir: text.tex.latex.memoir</option>
              <option value="text.tex.latex">Latex: text.tex.latex</option>
              <option value="source.css.less">LESS: source.css.less</option>
              <option value="text.tex">TeX: text.tex</option>
              <option value="source.lisp">Lisp: source.lisp</option>
              <option value="source.lua">Lua: source.lua</option>
              <option value="source.makefile">MakeFile: source.makefile</option>
              <option value="text.html.markdown">Markdown: text.html.markdown</option>
              <option value="text.html.markdown.multimarkdown">Multi Markdown: text.html.markdown.multimarkdown</option>
              <option value="source.matlab">Matlab: source.matlab</option>
              <option value="source.objc">Objective-C: source.objc</option>
              <option value="source.objc++">Objective-C++: source.objc++</option>
              <option value="source.camlp4.ocaml">OCaml campl4: source.camlp4.ocaml</option>
              <option value="source.ocaml">OCaml: source.ocaml</option>
              <option value="source.ocamllex">OCamllex: source.ocamllex</option>
              <option value="source.perl">Perl: source.perl</option>
              <option value="source.php">PHP: source.php</option>
              <option value="source.regexp.python">Regular Expression(python): source.regexp.python</option>
              <option value="source.python">Python: source.python</option>
              <option value="source.r-console">R Console: source.r-console</option>
              <option value="source.r">R: source.r</option>
              <option value="source.ruby.rails">Ruby on Rails: source.ruby.rails</option>
              <option value="text.haml">Ruby HAML: text.haml</option>
              <option value="source.sql.ruby">SQL(Ruby): source.sql.ruby</option>
              <option value="source.regexp">Regular Expression: source.regexp</option>
              <option value="text.restructuredtext">RestructuredText: text.restructuredtext</option>
              <option value="source.ruby">Ruby: source.ruby</option>
              <option value="source.sass">SASS: source.sass</option>
              <option value="source.scala">Scala: source.scala</option>
              <option value="source.shell">Shell Script: source.shell</option>
              <option value="source.sql">SQL: source.sql</option>
              <option value="source.stylus">Stylus: source.stylus</option>
              <option value="source.tcl">TCL: source.tcl</option>
              <option value="text.html.tcl">HTML(TCL): text.html.tcl</option>
              <option value="text.plain">Plain text: text.plain</option>
              <option value="text.html.textile">Textile: text.html.textile</option>
              <option value="text.xml">XML: text.xml</option>
              <option value="text.xml.xsl">XSL: text.xml.xsl</option>
              <option value="source.yaml">YAML: source.yaml</option>
            </select>
          </div>
          <!-- Allow user to select To text editor-->
          <div class="form-group" id="from-fg">
            <textarea class="text-green" id="convert-from-text" name="convert_from_text" rows="10" aria-describedby="from-error"></textarea><span class="error-block text-red" id="from-error">Invalid format for selected editor. </span><a class="text-ltgrey hover-red" id="error-link" href="/details/" target="_blank">
              <u>For more info on formatting.  </u></a>
          </div>
        </div>
        <div class="col-sm">
          <!-- Allow user to select To text editor-->
          <div class="form-group" id="from-fg">
            <label class="text-yellow title" for="convert_to">to</label>
            <select class="form-control custom-select" id="convert-to" name="convert_to" required="">
              <option value=""></option>
              <option value="atom">Atom</option>
              <option value="brackets">Brackets</option>
              <option value="sublime" disabled="">Sublime Text</option>
              <option value="visual_code">Visual Studio Code</option>
            </select>
          </div>
          <!-- Allow user to select To text editor-->
          <div class="form-group">
            <textarea class="text-yellow" name="convert_to_text" rows="10"></textarea>
          </div>
        </div>
        <div class="col-sm-12">
          <!-- Submit button-->
          <button class="btn btn-success btn-block" id="submit-btn" type="submit">Convert</button>
        </div>
      </form>
    </div>
    <!-- load footer-->
    <footer>
      <div class="container">
        <hr/><a href="http://reimagin8d.com" target="_blank">&copy; reimagin8d </a>
      </div>
    </footer>
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous">   </script>
    <script src="/scripts/client.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</head>