extends layout

block content
    #library-container.container.page-container
        .row
            .col-md-8
                .col-sm-4
                    - var snips = snippets;
                    - console.log(`Library snips? ${snips}`);
                    each snip in snips.length ? snips : ['There are no snippets']
                        .card.bg-dark.mb-5
                            .card-header.text-info
                                != snip.code
                            .card-body
                                pre.text-white
                                    != snip.content
                                p.card-text.text-yellow.mb-0 scope: #{snip.scope}
                                p.card-text.text-yellow trigger: #{snip.trigger}
                            .card-footer.text-right                            
                                a.card-link.text-red(href='#', target='_blank') add

