extends layout

block content
    .page-container.container
        .row.justify-content-center
            .col-6
                h1.display-4.m-b-2 Login In

                // login form
                form.form(action="/login", method="POST")
                    .form-group
                        label(for="email") Email
                        input.form-control(type="email", placeholder="name@email.com", name="email")
                    .form-group
                        label(for="password") Password
                        input.form-control(type="password", name="password")
                    button.btn.btn-primary(type="submit") Log In