nav.navbar.navbar-expand-lg.navbar-dark.back-black.fixed-top(role="navigation")
    .container
        a#nav-home.navbar-brand(href="/") Snippets
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#nav-collapse", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div#nav-collapse.collapse.navbar-collapse
            .navbar-nav.ml-auto
                a#nav-details.nav-item.nav-link(href="/details") Details
                a#nav-about.nav-item.nav-link(href="/about") About