extends layout

block content
    .main.fullsize-container.page-container.container.clearfix
        .row
            .col-md-8.col-md-offset-2
                h1.display-4
                    img.hidden-xs-down(src="/img/snip_logo_high.svg", alt="Snippets Code Editor") 
                    | #{name}
                p.lead #{email}
                p.favorite-book Preferred Code Editor
                | #{editor}