<!-- snippet_card_template.html -->
<script id="snippet-template" type="text/x-handlebars-template">
    {{#if snippets}}
    {{#each snippets}}
    <div class="col-sm-4">
        <div class="card bg-dark mb-5">
            <div class="card-header text-info">
                <h5>{{description}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-black">
                    {{content}}
                </li>
                <li class="list-group-item">
                    <span class="text-ltgrey">editor: {{editor}}</span>
                </li>
                <li class="list-group-item">
                    <span class="text-ltgrey">scope: {{scope}}</span>
                </li>
                <li class="list-group-item">
                    <span class="text-ltgrey">trigger: {{trigger}}</span>
                </li>
            </ul>
            <div class="card-body">
                <form class="lib-form-form-inline removeSnip-form form mb-0" action=`/snippet/{{_id}}/{{userId}}` method="DELETE">
                    <input type="hidden" class="form-control" name="snipid" value={{_id}}>
                    <input type="hidden" class="form-control" name="uid" value={{userId}}>
                    <button class="lib-remove card-link text-red hover-ltgrey" type="submit">remove</button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}

     <!-- .main.page-container.container .row.justify-content-center .col-md-6.p-t-2.text-center i.icn-person.material-icons error
    h1 oops! p.lead.m-t-2= message -->
        <div class="col-md-12 pt-2 text-center">
            <i class="icn-person material-icons text-red" style="font-size: 48px">local_gas_station</i>
            <h1 class="text-red">empty!</h1>
            <p class="lead mt-2 text-info">uh oh! looks like you need ta fill'r up!</p>
        </div>
    {{/if}}
</script>