<!-- snippet_card_template.html -->
<script id="snippet-card-template" type="text/x-handlebars-template">
    {{#if snippets.length}}
    {{#each snippets}}
    <div id="card-{{_id}}" class="col-sm-4">
        <div class="card bg-dark mb-5">
            <div class="card-header text-info">
                <h5>{{description}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-black content-snip">
                    {{content}}
                </li>
                <li class="list-group-item">
                    editor: <span class="text-ltgrey">{{editor}}</span>
                </li>
                <li class="list-group-item">
                     scope: <span class="text-ltgrey">{{scope}}</span>
                </li>
                <li class="list-group-item">
                    trigger: <span class="text-ltgrey"> {{trigger}}</span>
                </li>
            </ul>
            <div class="card-body">
                {{#if ../currentUser}}
                    {{#ifCond ../currentUser '===' userId}}
                        <form class="lib-form form-inline removeSnip-form form mb-0" action="/snippets/{{_id}}/user/{{userId}}?method=delete" method="POST">
                            <input type="hidden" class="form-control" name="snipId" value={{_id}}>
                            <input type="hidden" class="form-control" name="uId" value={{userId}}>
                            <button class="lib-remove card-link text-red hover-ltgrey" data-target="#card-{{_id}}" type="submit">remove</button>
                        </form>
                    {{/ifCond}}
                    {{#ifCond ../currentUser '!==' userId}}
                        <form class="lib-form form-inline addSnip-form form mb-0" action="/snippets/{{_id}}/user/{{userId}}" method="PUT">
                            <input type="hidden" class="form-control" name="snipID" value={{_id}}>
                            <input type="hidden" class="form-control" name="uID" value={{userId}}>
                            <button class="lib-add card-link text-green hover-ltgrey" type="submit">add</button>
                        </form>
                    {{/ifCond}}
                {{else}}
                <a class="lib-add card-link text-green hover-ltgrey" href="#">add</a>
                {{/if}}
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
        <div class="col-md-12 pt-2 text-center">
            <i class="icn-person material-icons text-red" style="font-size: 48px">local_gas_station</i>
            <h1 class="text-red">empty!</h1>
            <p class="lead mt-2 text-red">uh oh! looks like you need ta fill 'er up!</p>
        </div>
    {{/if}}
</script>

<script>
    $().ready(function() {
        console.log(`Document Ready!`);
        
        Handlebars.registerHelper('block-params', function () {
            var args = [],
                options = arguments[arguments.length - 1];
            for (var i = 0; i < arguments.length - 1; i++) {
                args.push(arguments[i]);
            }

            return options.fn(this, { data: options.data, blockParams: args });
        });
        Handlebars.registerHelper('ifCond', function (v1, operator, v2, options) {

            switch (operator) {
                case '==':
                    return (v1 == v2) ? options.fn(this) : options.inverse(this);
                case '===':
                    return (v1 === v2) ? options.fn(this) : options.inverse(this);
                case '!=':
                    return (v1 != v2) ? options.fn(this) : options.inverse(this);
                case '!==':
                    return (v1 !== v2) ? options.fn(this) : options.inverse(this);
                case '<':
                    return (v1 < v2) ? options.fn(this) : options.inverse(this);
                case '<=':
                    return (v1 <= v2) ? options.fn(this) : options.inverse(this);
                case '>':
                    return (v1 > v2) ? options.fn(this) : options.inverse(this);
                case '>=':
                    return (v1 >= v2) ? options.fn(this) : options.inverse(this);
                case '&&':
                    return (v1 && v2) ? options.fn(this) : options.inverse(this);
                case '||':
                    return (v1 || v2) ? options.fn(this) : options.inverse(this);
                default:
                    return options.inverse(this);
            }
        });

    });
</script>